#!/usr/local/bin/bash
#set -x

LEINFO="{{leutils_bin_dir}}/leinfo"
APACHECTL="/usr/local/sbin/apachectl"
CERTBOT="/usr/local/bin/certbot"
RESTART="0"

function apache-status {
    if [ -e "$APACHECTL" ]; then
	if ( $APACHECTL status | grep "is running"); then
	    RESTART=1
	fi
    fi
}

function apache-stop {
    if [ -e "$APACHECTL" ]; then
	(($RESTART)) && $APACHECTL -k graceful-stop
    fi
}

function apache-restart {
    if [ -e "$APACHECTL" ]; then
	(($RESTART)) && $APACHECTL -k graceful
    fi
}

apache-status
apache-stop
for i in `$LEINFO -l`; do
    d=`$LEINFO -e -s $i`
    if [ "$d" -lt "{{leutils_days}}" ]; then
	printf "[OK]   Renew certificate $i\n"
        if ($CERTBOT certonly --standalone -d $i); then
	    printf "[OK]   Done.\n"
	else
	    printf "[ERR]  \n"
	fi
    fi
done
leinfo -g -a
apache-restart

exit 0

# EOF
