#!/usr/local/bin/bash
#set -x

RESTART="0"

function apache-status {
    if [ -e "/usr/local/sbin/apachectl" ]; then
	if (/usr/local/sbin/apachectl status | grep "is running"); then
	    RESTART=1
	fi
    fi
}

function apache-stop {
    if [ -e "/usr/local/sbin/apachectl" ]; then
	(($RESTART)) && /usr/local/sbin/apachectl -k graceful-stop
    fi
}

function apache-restart {
    if [ -e "/usr/local/sbin/apachectl" ]; then
	(($RESTART)) && /usr/local/sbin/apachectl -k graceful
    fi
}


for i in `leinfo -l`; do
    d=`leinfo -e -s $i`
    if [ "$d" -lt "{{leutils_days}}" ]; then
	printf "*** Renew certificates\n"
	apache-status
	apache-stop
	certbot renew
	apache-restart
	leinfo -g -a
	break
    fi
done

exit 0

# EOF
