#!/usr/local/bin/bash
#set -x

LEINFO="{{leutils_bin_dir}}/leinfo"
APACHECTL="/usr/local/sbin/apachectl"
RESTART="0"

function apache-status {
    if [ -e "$APACHECTL" ]; then
	if ( $APACHECTL status | grep "is running"); then
	    RESTART=1
	fi
    fi
}

function apache-stop {
    if [ -e "$APACHECTL" ]; then
	(($RESTART)) && $APACHECTL -k graceful-stop
    fi
}

function apache-restart {
    if [ -e "$APACHECTL" ]; then
	(($RESTART)) && $APACHECTL -k graceful
    fi
}


for i in `$LEINFO -l`; do
    d=`$LEINFO -e -s $i`
    if [ "$d" -lt "{{leutils_days}}" ]; then
	printf "* Renew certificates\n"
	apache-status
	apache-stop
	certbot renew
	apache-restart
	leinfo -g -a
	break
    fi
done

exit 0

# EOF
